@font-face {
  font-family: 'PatrickHand-Regular';
  src: local('PatrickHand-Regular'), url(./assets/fonts/PatrickHand-Regular/PatrickHand-Regular.woff2) format('truetype');
}
@font-face {
  font-family: 'PatrickHandSC-Regular';
  src: local('PatrickHandSC-Regular'), url(./assets/fonts/PatrickHandSC-Regular/PatrickHandSC-Regular.woff2) format('truetype');
}
@font-face {
  font-family: 'Narcotix';
  src: local('Narcotix'), url(./assets/fonts/Narcotix/Narcotix.ttf.woff) format('truetype');
}
@font-face {
  font-family: 'AlienScript-Regular';
  src: local('AlienScript-Regular'), url(./assets/fonts/AlienScript-Regular/AlienScript-Regular.woff2) format('truetype');
}
@font-face {
  font-family: 'Alien';
  src: local('Alien'), url(./assets/fonts/Alien/Alien.woff2) format('truetype');
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'PatrickHand-Regular', 'PatrickHandSC-Regular', 'AlienScript-Regular', 'Narcotix','Alien',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes type{
  from{
      width:0;
  }
}